/* Barre de navigation */
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#18CCA3, #18CCA3);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#18CCA3, #18CCA3)
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

textarea {
  resize: none;
}

/* Check option animation */
.hover\:bg-green-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1));
}

/* Cacher la scrollbar du carousel */
.hide-scroll-bar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
	display: none;
}